.cart-summary-container {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.order-total-value {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 16px;
  margin-bottom: 2px;
}

@media screen and (min-width: 768px) {
  .order-total-value {
    font-size: 32px;
  }
}

.order-total-label {
  color: #616e7c;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .order-total-label {
    font-size: 24px;
  }
}

.total-items {
  color: #616e7c;
  font-family: 'Roboto';
  font-size: 12px;
  margin-top: 2px;
}

@media screen and (min-width: 768px) {
  .total-items {
    font-size: 16px;
  }
}

.checkout-button {
  background-color: #0b69ff;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  border: none;
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 8px;
  margin-bottom: 8px;
  outline: none;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .d-sm-none {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .d-lg-none {
    display: none;
  }
}

.modal {
  font-size: 12px;
  background-color: white;
  box-shadow: 0px 4px 16px 0px #eaebed;
  border-radius: 12px;
  height: 70vh;
  width: 250%;
}
.modal > .header {
  width: 100%;
  font-weight: bold;
  font-family: 'Roboto';
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
  font-size: 18px;
  font-family: 'sans-serif';
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
  justify-content: end;
}

.buttonLayout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

.para {
  color: blue;
  font-size: 12px;
  font-weight: bold;
  align-self: center;
}